<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>

        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Почта</th>
            <th>Создано</th>
            <th>Обновлено</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${user}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.Surname}"></td>
                <td th:text="${user.Name_User}"></td>
                <td th:text="${user.Patronymic}"></td>
                <td th:text="${user.Email}"></td>
                <td th:text="${user.Created_At}"></td>
                <td th:text="${user.Updated_At}"></td>
                <td th:text="${user.Completed} ? '✔':'-'"></td>
                <td href = "@"
            </tr>
        </tbody>
    </table>
</body>
</html>